<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WM App</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <section class="flex">

        <a href="#home" class="logo">
            <img src="images/logo.png" alt="">
        </a>
    
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#menu">team</a>
            <a href="#contact">contact</a>
        </nav>
    
        <div class="icons">
            
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
            

    </section>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<div class="home-container">

    <section class="home" id="home">

        <div class="content">
            <h3>with me</h3>
            <p>Welcome to WM. Let's meet with your new Sport or Online Game Friends.</p>
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
        </div>
    
    </section>

</div>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="images/about-img.jpg" alt="">
        </div>

        <div class="content">
            <h3>what makes our special?</h3>
            <p>Our simple and understandable application is different from other applications, we allow people to meet new people according to their interests.</p>
            <p>We are constantly up to date thanks to our young and constantly improving team.</p>
            <a href="#menu" class="btn">Meet The Team Members</a>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- menu section starts  -->

<section class="menu" id="menu">

    <h1 class="heading"> our <span>Team</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/derya.jpeg" alt="">
            <h3>Derya Atasoy</h3>
            <a href="#" class="fab fa-linkedin"></a>
            
        </div>

        <div class="box">
            <img src="images/WhatsApp Image 2024-01-18 at 21.50.01.jpeg" alt="">
            <h3>Ali Seyhan</h3>
            <a href="#" class="fab fa-linkedin"></a>
            
        </div>

        <div class="box">
            <img src="images/WhatsApp Image 2024-01-18 at 21.55.26.jpeg" alt="">
            <h3>Can Deniz Salman</h3>
            <a href="#" class="fab fa-linkedin"></a>
            
        </div>

        <div class="box">
            <img src="images/WhatsApp Image 2024-01-18 at 21.51.42 (1).jpeg" alt="">
            <h3>Umut Can Oral</h3>
            <a href="#" class="fab fa-linkedin"></a>
            
        </div>

        <div class="box">
            <img src="images/WhatsApp Image 2024-01-18 at 21.50.51.jpeg" alt="">
            <h3>Zeynep Hanife Çelikoğlu</h3>
            <a href="#" class="fab fa-linkedin"></a>
            
        </div>

        <div class="box">
            <img src="images/WhatsApp Image 2024-01-18 at 21.53.46.jpeg" alt="">
            <h3>Demet Bolat</h3>
            <a href="#" class="fab fa-linkedin"></a>
            
        </div>

    </div>

</section>

<!-- menu section ends -->



<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <div class="row">

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12716.919442458036!2d28.384170100000002!3d37.171008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bf722d2a75c427%3A0x5118a14282abf36e!2zS8O2dGVrbGksIE1lbnRlxZ9lL011xJ9sYQ!5e0!3m2!1str!2str!4v1705232899962!5m2!1str!2str" allowfullscreen="" loading="lazy"></iframe>

        <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input type="text" placeholder="name">
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="number" placeholder="number">
            </div>
            <input type="submit" value="contact now" class="btn">
        </form>

    </div>

</section>

<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="/https://www.instagram.com/_aliseyhan/?hl=tr" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>

    <div class="links">
        <a href="#">home</a>
        <a href="#">about</a>
        <a href="#">team</a>
        <a href="#">contact</a>
    </div>


</section>

<!-- footer section ends -->
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>